###ML4Recsys : Intro to content-based filtering

by: Achmad Salim Aiman - 1301184045

## Read the data

In [ ]:
import pandas as pd
import numpy as np

path = 'https://raw.githubusercontent.com/salimaiman/datascience/main/SongsDataset.csv'
df = pd.read_csv(path)

df = df[['NIM','Submisike','Artis','Judul','Lirik']]
df['NIM'] = df['NIM'].apply(str)
# df['Submisike'] = df['Submisike'].apply(str)
df['Lirik'] = df['Lirik'].apply(str)
# df.head()
df[df["NIM"] == "1301184045.0"]

              NIM  ...                                              Lirik
271  1301184045.0  ...  Gravity is working against me\nAnd gravity wan...
272  1301184045.0  ...  Goodbye cold, goodbye rain\nGoodbye sorrow, go...
273  1301184045.0  ...  I've paid my dues\nTime after time\nI've done ...
274  1301184045.0  ...  She keeps her Moet et Chandon\nIn her pretty c...
275  1301184045.0  ...  It's not a silly little moment\nIt's not the s...
276  1301184045.0  ...  An empty street, an empty house\nA hole inside...
277  1301184045.0  ...  Used to be so easy to give my heart away\nBut ...
278  1301184045.0  ...  Where did we come from?\nWhy are we here?\nWhe...
279  1301184045.0  ...  It is the evening of the day\nI sit and watch ...
280  1301184045.0  ...  Love of my life, you've hurt me\nYou've broken...

[10 rows x 5 columns]

## Preprocessing

###Handling Duplicate

In [ ]:
df[df.duplicated()]

     NIM  Submisike Artis Judul Lirik
522  nan        NaN   NaN   NaN   nan
523  nan        NaN   NaN   NaN   nan

Terdapat 2 buah data duplikat

In [ ]:
# menghilangkan data duplikat
df.drop_duplicates(inplace=True)
df[df.duplicated()]

Empty DataFrame
Columns: [NIM, Submisike, Artis, Judul, Lirik]
Index: []

Data duplikat telah dihilangkan

###Cleaning the Text

####Regular Expression Cleaning

In [ ]:
%%time
import re

# Converting all words to lower case and removing punctuation
df['Lirik'] = [re.sub(r'\d+\S*', ' ',
                  row.lower().replace('\n', ' ').replace('.', ' ').replace('_', ' ').replace('/', ''))
                  for row in df['Lirik']]

df['Lirik'] = [re.sub(r'(?:^| )\w(?:$| )', '', row)
                  for row in df['Lirik']]

# Removing numbers
df['Lirik'] = [re.sub(r'\d+', '', row) for row in df['Lirik']]

CPU times: user 79.5 ms, sys: 3.31 ms, total: 82.9 ms
Wall time: 83.9 ms

In [ ]:
%%time
import re

# Converting all words to lower case and removing punctuation
data['title'] = [re.sub(r'\d+\S*', ' ',
                  row.lower().replace('\n', ' ').replace('.', ' ').replace('_', ' ').replace('/', ''))
                  for row in data['title']]

data['title'] = [re.sub(r'(?:^| )\w(?:$| )', '', row)
                  for row in data['title']]

# Removing numbers
data['title'] = [re.sub(r'\d+', '', row) for row in data['title']]

In [ ]:
df[df["NIM"] == "1301184045.0"]

              NIM  ...                                              Lirik
271  1301184045.0  ...  gravity is working against me and gravity want...
272  1301184045.0  ...  goodbye cold, goodbye rain goodbye sorrow, goo...
273  1301184045.0  ...  i've paid my dues time after time i've done my...
274  1301184045.0  ...  she keeps her moet et chandon in her pretty ca...
275  1301184045.0  ...  it's notsilly little moment it's not the storm...
276  1301184045.0  ...  an empty street, an empty househole inside my ...
277  1301184045.0  ...  used to be so easy to give my heart away butfo...
278  1301184045.0  ...  where did we come from? why are we here? where...
279  1301184045.0  ...  it is the evening of the daysit and watch the ...
280  1301184045.0  ...  love of my life, you've hurt me you've broken ...

[10 rows x 5 columns]

####Tokenization

In [ ]:
%%time
import nltk
nltk.download("stopwords")

# Tokenizing comments and putting them into a new column
tokenizer = nltk.tokenize.RegexpTokenizer(r'\w+')  # by blank space
df['tokens'] = df['Lirik'].apply(tokenizer.tokenize)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
CPU times: user 670 ms, sys: 202 ms, total: 872 ms
Wall time: 1.29 s

In [ ]:
df[df["NIM"] == "1301184045.0"]

              NIM  ...                                             tokens
271  1301184045.0  ...  [gravity, is, working, against, me, and, gravi...
272  1301184045.0  ...  [goodbye, cold, goodbye, rain, goodbye, sorrow...
273  1301184045.0  ...  [i, ve, paid, my, dues, time, after, time, i, ...
274  1301184045.0  ...  [she, keeps, her, moet, et, chandon, in, her, ...
275  1301184045.0  ...  [it, s, notsilly, little, moment, it, s, not, ...
276  1301184045.0  ...  [an, empty, street, an, empty, househole, insi...
277  1301184045.0  ...  [used, to, be, so, easy, to, give, my, heart, ...
278  1301184045.0  ...  [where, did, we, come, from, why, are, we, her...
279  1301184045.0  ...  [it, is, the, evening, of, the, daysit, and, w...
280  1301184045.0  ...  [love, of, my, life, you, ve, hurt, me, you, v...

[10 rows x 6 columns]

####Stopword Removal

In [ ]:
%%time
# Removing Stopwords & Punctuation
from nltk.corpus import stopwords
#stopwords.words('english')

filtered_words = []
for row in df['tokens']:
    filtered_words.append([
        word.lower() for word in row
        if word.lower() not in nltk.corpus.stopwords.words('english')
    ])

df['tokens'] = filtered_words

CPU times: user 16.5 s, sys: 1.88 s, total: 18.4 s
Wall time: 18.5 s

In [ ]:
df.head()

            NIM  ...                                             tokens
0  1301180229.0  ...  [make, break, movetake, love, answer, say, ifw...
1  1301180229.0  ...  [whoa, oh, oh, whoa, oh, oh, jet, lagged, time...
2  1301180229.0  ...  [life, seen, meaner, side, took, away, prophet...
3  1301180229.0  ...  [still, alive, barely, breathing, prayin, togo...
4  1301180229.0  ...  [know, worth, fighting, worth, dying, take, br...

[5 rows x 6 columns]

####Lemmatization

In [ ]:
%%time
# Setting the Lemmatization object
nltk.download("wordnet")
lmtzr = nltk.stem.wordnet.WordNetLemmatizer()

# Looping through the words and appending the lemmatized version to a list
stemmed_words = []
for row in df['tokens']:
    stemmed_words.append([
        # Verbs
        lmtzr.lemmatize(  
            # Adjectives
            lmtzr.lemmatize(  
                # Nouns
                lmtzr.lemmatize(word.lower()), 'a'), 'v')
        for word in row
        if word.lower() not in nltk.corpus.stopwords.words('english')])

# Adding the list as a column in the data frame
df['tokens'] = stemmed_words

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
CPU times: user 11.4 s, sys: 1.1 s, total: 12.5 s
Wall time: 12.5 s

In [ ]:
df.head()

            NIM  ...                                             tokens
0  1301180229.0  ...  [make, break, movetake, love, answer, say, ifw...
1  1301180229.0  ...  [whoa, oh, oh, whoa, oh, oh, jet, lag, time, m...
2  1301180229.0  ...  [life, see, mean, side, take, away, prophet, d...
3  1301180229.0  ...  [still, alive, barely, breathe, prayin, togod,...
4  1301180229.0  ...  [know, worth, fight, worth, die, take, breath,...

[5 rows x 6 columns]

####Stemming

In [ ]:
# Appends all words to a list in order to find the unique words
allWords = []
for row in stemmed_words:
    for word in row:
        allWords.append(str(word))
            
uniqueWords = np.unique(allWords)

print('Number of unique words:', len(uniqueWords), '\n')
print('Previewing sample of unique words:\n', uniqueWords[1234:1244])

Number of unique words: 7290

Previewing sample of unique words:
 ['cloudsdon' 'clout' 'clover' 'club' 'clue' 'clutch' 'coach' 'coast'
 'coastclose' 'coat']

In [ ]:
stemmed_sentences = []

# Spacing out the words in the reviews for each restaurant
for row in df['tokens']:
    stemmed_string = ''
    for word in row:
        stemmed_string = stemmed_string + ' ' + word
    stemmed_sentences.append(stemmed_string)
    
df['tokens'] = stemmed_sentences

In [ ]:
df

              NIM  ...                                             tokens
0    1301180229.0  ...   make break movetake love answer say ifwent aw...
1    1301180229.0  ...   whoa oh oh whoa oh oh jet lag time miss anyth...
2    1301180229.0  ...   life see mean side take away prophet dream fo...
3    1301180229.0  ...   still alive barely breathe prayin togod thatd...
4    1301180229.0  ...   know worth fight worth die take breath away f...
..            ...  ...                                                ...
528  1301184089.0  ...   get floor dance night long get floor dance ti...
529  1301184089.0  ...   endure exile endure exile darkness night fall...
530  1301184089.0  ...   ask lyric vergil theme bury light devil may c...
531  1301184089.0  ...   never gonna make good enough smillion people ...
532  1301184089.0  ...   talk one else waygrew whenfeel overwhelm made...

[531 rows x 6 columns]

## TF/IDF

In [ ]:
%%time
import sklearn
# Creating the sklearn object
tfidf = sklearn.feature_extraction.text.TfidfVectorizer(smooth_idf=False)

# Transforming our 'tokens' column into a TF-IDF matrix and then a data frame
tfidf_df = pd.DataFrame(tfidf.fit_transform(df['tokens']).toarray(), 
                        columns=tfidf.get_feature_names())

CPU times: user 85.9 ms, sys: 10.2 ms, total: 96.1 ms
Wall time: 106 ms

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
print(tfidf_df.shape)
tfidf_df.head()

(531, 7276)

   aaliyah  aback  abandon  abide  ...  zimmerman  zipper      zone  zoom
0      0.0    0.0      0.0    0.0  ...        0.0     0.0  0.000000   0.0
1      0.0    0.0      0.0    0.0  ...        0.0     0.0  0.076628   0.0
2      0.0    0.0      0.0    0.0  ...        0.0     0.0  0.000000   0.0
3      0.0    0.0      0.0    0.0  ...        0.0     0.0  0.000000   0.0
4      0.0    0.0      0.0    0.0  ...        0.0     0.0  0.000000   0.0

[5 rows x 7276 columns]

In [ ]:
# Removing sparse columns
tfidf_df = tfidf_df[tfidf_df.columns[tfidf_df.sum() > 1.25]]

# Removing any remaining digits
tfidf_df = tfidf_df.filter(regex=r'^((?!\d).)*$')

print(tfidf_df.shape)
tfidf_df.head()

(531, 429)

   act  afraid  ago   ah  alarm  ...  year       yes  yesterday  yet  young
0  0.0     0.0  0.0  0.0    0.0  ...   0.0  0.000000        0.0  0.0    0.0
1  0.0     0.0  0.0  0.0    0.0  ...   0.0  0.000000        0.0  0.0    0.0
2  0.0     0.0  0.0  0.0    0.0  ...   0.0  0.016466        0.0  0.0    0.0
3  0.0     0.0  0.0  0.0    0.0  ...   0.0  0.000000        0.0  0.0    0.0
4  0.0     0.0  0.0  0.0    0.0  ...   0.0  0.000000        0.0  0.0    0.0

[5 rows x 429 columns]

In [ ]:
# Storing the original data frame before the merge in case of changes
df_orig = df.copy()

# Merging the data frames by index
df = pd.merge(df, tfidf_df, how='inner', left_index=True, right_index=True)

df.head()

            NIM  Submisike         Artis  ... yesterday  yet young
0  1301180229.0        1.0  Reality Club  ...       0.0  0.0   0.0
1  1301180229.0        2.0   Simple Plan  ...       0.0  0.0   0.0
2  1301180229.0        3.0    The Script  ...       0.0  0.0   0.0
3  1301180229.0        4.0    The Script  ...       0.0  0.0   0.0
4  1301180229.0        5.0     Green Day  ...       0.0  0.0   0.0

[5 rows x 435 columns]

In [ ]:
# Summary stats of TF-IDF
print('Max:', np.max(tfidf_df.max()), '\n',
      'Mean:', np.mean(tfidf_df.mean()), '\n',
      'Standard Deviation:', np.std(tfidf_df.std()))

Max: 1.0
 Mean: 0.0068473436534486455
 Standard Deviation: 0.013164969088487228

##Cosine Similarity

In [ ]:
# menghitung cosine similarity terhadap keseluruhan data
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_df, tfidf_df)
cosine_sim

array([[1.        , 0.06900759, 0.10228039, ..., 0.01950494, 0.12279529,
        0.12134826],
       [0.06900759, 1.        , 0.06146542, ..., 0.08334235, 0.07397278,
        0.11486873],
       [0.10228039, 0.06146542, 1.        , ..., 0.0757965 , 0.09913391,
        0.26411841],
       ...,
       [0.01950494, 0.08334235, 0.0757965 , ..., 1.        , 0.07321482,
        0.06430984],
       [0.12279529, 0.07397278, 0.09913391, ..., 0.07321482, 1.        ,
        0.25303998],
       [0.12134826, 0.11486873, 0.26411841, ..., 0.06430984, 0.25303998,
        1.        ]])

##Testing

In [ ]:
# membuat function untuk rekomendasi
def recommendations(_st, _nt):

  recommend_songs = []

  # mengambil index pada lagu yang memiliki judul = title
  idx = df[df["Judul"] == _st].index[0]

  # membuat series dengan similarity-nya secara descending
  score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

  batas = _nt+1
  # top 10 index yang memiliki nilai similarity tertinggi terhadap lagu tersebut
  top_10_songs = list(score_series.iloc[1:batas].index)

  # memasukkan top 10 lagu ke dalam list
  for i in top_10_songs:
    recommend_songs.append([list(df["Artis"])[i], list(df["Judul"])[i]])

  return recommend_songs

In [ ]:
judul = input("Masukkan Judul Lagu: ")
jml = input("Jumlah Lagu: ")
jml = int(jml)
lagu = recommendations(judul, jml)
pd.DataFrame(lagu, columns=["Artis", "Judul"])

Masukkan Judul Lagu: We Are The Champions
Jumlah Lagu: 10

                                Artis                 Judul
0                               Queen              Innuendo
1                          Tommy Page  A shoulder to cry on
2                         Linkin Park            In The End
3  Hugh Jackman dan Michelle Williams      A Million Dreams
4                   Avenged sevenfold                 M.I.A
5                        Taylor Swift                 Style
6                               Ne-Yo                   Mad
7                             Tia Ray              Starfall
8                    The Chainsmokers           All We Know
9                           Pentakill      Legend Never Die